
@{
    ViewBag.Title = "DirectorOnly";
}

<div class="alert alert-warning">
    <h2>Restricted Access</h2>
    <h3>Only directors are allowed to delete user data.</h3>
</div>

@Html.ActionLink("Return to profiles page", "index", "RegisteredUsers")

