
@{
    ViewBag.Title = "NotAuthorized";
}

<div class="alert alert-warning">
    <h2>Restricted Access</h2>
    <h3>Users are only capable of editing the recognitions they created.</h3>
</div>

@Html.ActionLink("Return to recognitions page", "index", "UserRecognitions")

